body {

    font-family: Courier New;
    color: #b38d66;
    background-image: url("2101949.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#rectangle{
    justify-content: center;
    align-content: center;
    backdrop-filter: blur(15px);
    border-style: solid;
    border-color: floralwhite;
    border-radius: 40px;
    width:700px;
    height:500px;
    /*width: 50%;*/
    /*height: 60%;*/
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding: 2%;

}
td{
    backdrop-filter: blur(100px);
    padding: 17px;
    border: 1px solid white;
    border-radius: 10px;
    transition: background-color .3s;
}
#head1 {
    position: relative;
    left: 42%;
}
#head2 {
    position: relative;
    left: 0%;
}
#movies{
    position:relative;
    margin-top: 3%;
    margin-left: 10%;
}
#listing_page{
    position:relative;
    margin-top: 3%;
    margin-left: 3%;
}
.btn {
    color : white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
#page{
    position: absolute;
    bottom: 10%;
    left: 50%;
}
#pagination{
    position: absolute;
    bottom: 3%;
    left: 38%;
}
#details{
    position: absolute;
    top: 10%;
    right: 3%;
    width: 50%;
    font-size: 10px;
    font-weight: bolder;
    padding: 1%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.11);
}
.btn:hover {background-color: rgba(221, 221, 221, 0.5);}
td:hover {background-color: rgba(221, 221, 221, 0.5);}